.u-section-1 .u-sheet-1 {
  min-height: 195px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 180px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  text-transform: none;
  margin: 0;
}

.u-section-1 .u-line-1 {
  width: 74px;
  height: 7px;
  transform-origin: left center 0px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 171px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 171px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 14px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 4px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 685px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 28px 27px 0 169px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 804px;
  height: 436px;
  margin: 27px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-right: 89px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-2 {
    width: 803px;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-2 .u-image-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 184px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 252px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 54px 103px 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 1.25rem;
  text-transform: none;
  margin: 17px auto 60px;
  padding: 2px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-btn-2 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 26px;
  }
}