.u-section-1 .u-sheet-1 {
  min-height: 462px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -66px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 392px;
  margin: 50px 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  text-transform: none;
  margin: 152px 0 0;
}

.u-section-1 .u-line-1 {
  width: 74px;
  height: 7px;
  transform-origin: left center 0px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 25px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-1 .u-image-1 {
    height: 296px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 274px;
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 85px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 286px;
    width: 490px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 192px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -19px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: -17px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 408px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 15px;
  }

  .u-section-1 .u-image-1 {
    height: 198px;
    margin-top: -367px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 25px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -206px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 3px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 631px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 180px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 19px -61px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 180px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 16px 0 0 126px;
}

.u-section-2 .u-slider-1 {
  min-height: 346px;
  height: auto;
  margin: -14px -41px 60px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: 8px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 55px;
}

.u-section-2 .u-gallery-1 {
  height: 250px;
  width: 904px;
  grid-gap: 10px 10px;
  margin: 20px auto -8px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-gallery-item-1 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-gallery-item-2 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-gallery-item-3 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-gallery-item-4 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-4 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 55px;
}

.u-section-2 .u-gallery-2 {
  height: 250px;
  width: 904px;
  grid-gap: 10px 10px;
  margin: 20px auto -8px;
}

.u-section-2 .u-gallery-inner-2 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-gallery-item-5 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-5 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-gallery-item-6 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-6 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-gallery-item-7 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-7 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-gallery-item-8 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-8 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 55px;
}

.u-section-2 .u-gallery-3 {
  height: 250px;
  width: 904px;
  grid-gap: 10px 10px;
  margin: 20px auto -8px;
}

.u-section-2 .u-gallery-inner-3 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-gallery-item-9 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-9 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-gallery-item-10 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-10 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-gallery-item-11 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-11 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-gallery-item-12 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-12 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  padding: 25px;
}

.u-section-2 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-2 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -47px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 186px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 128px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 326px;
    width: 940px;
    margin-top: 46px;
    margin-right: auto;
    margin-left: -10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 266px;
    width: 842px;
    margin-top: 0;
    margin-right: -12px;
    margin-bottom: 0;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-2 .u-gallery-2 {
    height: 266px;
    margin-top: 0;
    margin-bottom: 0;
    width: 842px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-2 .u-gallery-3 {
    height: 266px;
    width: 851px;
    margin-top: 0;
    margin-right: -21px;
    margin-bottom: 0;
  }

  .u-section-2 .u-gallery-inner-3 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-2 .u-carousel-control-1 {
    left: 0;
    position: absolute;
    right: auto;
  }

  .u-section-2 .u-carousel-control-2 {
    left: auto;
    position: absolute;
    right: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -31px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 236px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -30px;
    margin-left: 163px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 615px;
    margin-top: 0;
    margin-bottom: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-gallery-1 {
    height: 500px;
    width: 530px;
    margin-right: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-gallery-2 {
    height: 500px;
    width: 530px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-gallery-3 {
    height: 500px;
    width: 530px;
    margin-right: auto;
  }

  .u-section-2 .u-gallery-inner-3 {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 133px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 19px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin: 0 auto -11px 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 94px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: -10px;
    margin-left: 0;
  }

  .u-section-2 .u-slider-1 {
    margin-top: -16px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    width: 460px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-2 {
    width: 460px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: auto auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-3 {
    width: 460px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: -7px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 679px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-1 {
    height: 1391px;
    width: 330px;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-gallery-2 {
    height: 1391px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-3 {
    height: 1391px;
    width: 330px;
    margin-left: -5px;
    margin-right: -5px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 631px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 180px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 -80px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 180px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 0 0 120px;
}

.u-section-3 .u-layout-wrap-2 {
  margin: 0 auto 47px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 435px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 12px;
}

.u-section-3 .u-image-1 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 11px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 435px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 12px;
}

.u-section-3 .u-image-2 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 11px 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 435px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 11px 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 435px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -61px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -7px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 359px;
  }

  .u-section-3 .u-image-1 {
    width: 175px;
    height: 175px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 359px;
  }

  .u-section-3 .u-image-2 {
    width: 175px;
    height: 175px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 359px;
  }

  .u-section-3 .u-image-3 {
    width: 175px;
    height: 175px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 359px;
  }

  .u-section-3 .u-image-4 {
    width: 175px;
    height: 175px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -41px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 200px;
    margin-right: 29px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -222px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1462px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -137px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 631px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 180px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 -80px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 180px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 0 0 120px;
}

.u-section-4 .u-layout-wrap-2 {
  margin: 0 auto 47px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 435px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 12px;
}

.u-section-4 .u-image-1 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 11px 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 435px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 12px;
}

.u-section-4 .u-image-2 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 11px 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 435px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 11px 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 435px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -61px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-4 .u-text-2 {
    margin-left: -7px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 359px;
  }

  .u-section-4 .u-image-1 {
    width: 175px;
    height: 175px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 359px;
  }

  .u-section-4 .u-image-2 {
    width: 175px;
    height: 175px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 359px;
  }

  .u-section-4 .u-image-3 {
    width: 175px;
    height: 175px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 359px;
  }

  .u-section-4 .u-image-4 {
    width: 175px;
    height: 175px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -41px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 200px;
    margin-right: 29px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -222px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1462px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -137px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 578px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 835px;
  }
}