.u-section-1 .u-sheet-1 {
  min-height: 190px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 175px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  text-transform: none;
  margin: 0;
}

.u-section-1 .u-line-1 {
  width: 74px;
  height: 7px;
  transform-origin: left center 0px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 9px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 144px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 305px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -249px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    margin-top: 37px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 632px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 28px 80px 60px 169px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 803px;
    margin-left: 48px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 782px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-3 .u-image-1 {
  object-position: 0% 0%;
  width: 954px;
  height: 487px;
  margin: 43px 17px 0 auto;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 1.25rem;
  margin: 54px auto 0 433px;
  padding: 2px 30px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 1.25rem;
  text-transform: none;
  margin: -40px auto 60px 169px;
  padding: 2px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 480px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -24px;
    margin-left: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 368px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 58px;
    margin-left: 13px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 276px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -273px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 174px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 240px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 28px 81px 60px 169px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    width: 803px;
    margin-left: 48px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}