.u-section-1 .u-sheet-1 {
  min-height: 674px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 443px;
  margin: 13px -60px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  text-transform: none;
  margin: 0;
}

.u-section-1 .u-line-1 {
  width: 74px;
  height: 7px;
  transform-origin: left center 0;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 244px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  min-height: 179px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto;
  width: 428px;
  margin: -347px 30px 60px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 103px;
  width: 103px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -15px -14px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 19px 6px 0 15px;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 103px;
  width: 103px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -15px -14px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 19px 6px 0 15px;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 103px;
  width: 103px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -15px -14px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 19px 6px 0 15px;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-1 .u-image-1 {
    height: 358px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-list-1 {
    min-height: 67px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: 50px;
  }

  .u-section-1 .u-text-4 {
    width: 50px;
  }

  .u-section-1 .u-text-5 {
    width: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 333px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 619px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-list-1 {
    min-height: 92px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-1 .u-image-1 {
    height: 315px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 305px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-1 .u-image-1 {
    height: 234px;
    margin-top: -285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -249px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-list-1 {
    min-height: 551px;
    width: 340px;
    margin-top: -32px;
    margin-right: -7px;
    margin-bottom: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: -25px;
    margin-right: -25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 701px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 180px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 1px -7px 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 180px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 auto 0 -7px;
}

.u-section-2 .u-layout-wrap-2 {
  width: 1140px;
  margin: 1px auto 0 -15px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 337px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 12px;
}

.u-section-2 .u-image-1 {
  height: 171px;
  background-image: url("images/Greenhouse.png");
  background-position: 50% 50%;
  width: 171px;
  margin: 0 -40px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 26px -26px 0 15px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 337px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 12px;
}

.u-section-2 .u-image-2 {
  height: 171px;
  background-image: url("images/Lantern1.png");
  background-position: 50% 50%;
  width: 171px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 25px -10px 0 auto;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 337px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 21px;
}

.u-section-2 .u-image-3 {
  height: 171px;
  background-image: url("images/LEaFS1.png");
  background-position: 50% 50%;
  width: 171px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 32px 27px 0 auto;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 337px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 30px 26px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/Sheetbroker1.png");
  background-position: 50% 50%;
  width: 172px;
  height: 172px;
  margin: 0 auto 0 -5px;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 32px 4px 0 auto;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 337px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 30px 26px;
}

.u-section-2 .u-image-5 {
  background-image: url("images/Neopixel.png");
  background-position: 50% 50%;
  width: 172px;
  height: 172px;
  margin: 0 auto 0 -5px;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 33px -24px 0 auto;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 337px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 30px 26px;
}

.u-section-2 .u-image-6 {
  background-image: url("images/Luminous.png");
  background-position: 50% 50%;
  width: 172px;
  height: 172px;
  margin: 0 auto 0 -5px;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 32px -20px 0 auto;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: -23px auto 100px;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-bottom: 53px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 278px;
  }

  .u-section-2 .u-image-1 {
    width: 151px;
    height: 151px;
    margin-right: -23px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 278px;
  }

  .u-section-2 .u-image-2 {
    width: 147px;
    height: 147px;
    margin-right: -19px;
  }

  .u-section-2 .u-text-4 {
    margin-right: -7px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 278px;
  }

  .u-section-2 .u-image-3 {
    width: 151px;
    height: 151px;
    margin-right: -23px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-right: 24px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 278px;
  }

  .u-section-2 .u-image-4 {
    width: 145px;
    height: 145px;
    margin-right: -17px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 15px;
    margin-right: 25px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 278px;
  }

  .u-section-2 .u-image-5 {
    width: 128px;
    height: 128px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: -18px;
  }

  .u-section-2 .u-btn-2 {
    width: 148px;
    height: 18px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 278px;
  }

  .u-section-2 .u-image-6 {
    width: 97px;
    height: 97px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: -15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -3px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 29px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-2 .u-text-4 {
    margin-right: -48px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    width: 180px;
    height: 180px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 42px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 43px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-right: -123px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-text-8 {
    margin-right: -102px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: -38px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 73px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-right: -97px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-right: -80px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: -10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-bottom: 20px;
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: -23px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 66px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -5px;
    margin-right: auto;
    margin-left: 69px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 99px;
  }

  .u-section-2 .u-text-7 {
    margin-right: -60px;
  }

  .u-section-2 .u-text-8 {
    margin-right: -49px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 566px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0 943px 0 26px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: -37px 22px 0 229px;
}

.u-section-3 .u-slider-1 {
  min-height: 292px;
  width: 1213px;
  margin: 15px auto 0 -35px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-3 .u-gallery-1 {
  height: 220px;
  width: 1038px;
  grid-gap: 10px 10px;
  margin: 0 auto 0 18px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 55px;
}

.u-section-3 .u-gallery-2 {
  height: 220px;
  width: 1038px;
  grid-gap: 10px 10px;
  margin: 0 auto 0 18px;
}

.u-section-3 .u-gallery-inner-2 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-3 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 32px auto 60px;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 590px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 100px;
    margin-left: 173px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 247px;
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-3 .u-gallery-2 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 338px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 480px;
    margin-left: 210px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-gallery-1 {
    height: 467px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-gallery-2 {
    height: 467px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 58px;
    margin-bottom: 0;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 390px;
    margin-left: 300px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-1 {
    height: 828px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-2 {
    height: 828px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-top: -303px;
    margin-bottom: 60px;
    margin-left: 471px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-slider-1 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1698px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-gallery-2 {
    height: 1698px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-top: -1173px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 522px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 0 943px 0 26px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: -48px 22px 0 229px;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 350px auto 0;
  padding: 10px 34px;
}

.u-section-4 .u-slider-1 {
  min-height: 292px;
  width: 1213px;
  margin: -370px auto 68px -35px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-4 .u-gallery-1 {
  height: 220px;
  width: 1038px;
  grid-gap: 10px 10px;
  margin: 0 auto 0 18px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-4 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 590px;
    margin-left: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 100px;
    margin-left: 173px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 100px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 247px;
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 480px;
    margin-left: 210px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 210px;
  }

  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-gallery-1 {
    height: 467px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2972px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 390px;
    margin-left: 300px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 471px;
  }

  .u-section-4 .u-slider-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-gallery-1 {
    height: 828px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1906px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-4 .u-slider-1 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1698px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}