.u-section-1 .u-sheet-1 {
  min-height: 930px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -66px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 340px;
  margin: 100px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 656px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  text-transform: none;
  margin: 152px 0 0;
}

.u-section-1 .u-line-1 {
  width: 74px;
  height: 7px;
  transform-origin: left center 0px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 26px 0 0;
}

.u-section-1 .u-video-1 {
  height: 481px;
  margin: -141px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-video-1 {
    height: 384px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 652px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -285px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -249px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    margin-top: 37px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 722px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 180px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 -80px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 180px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 424px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin: 0 auto 47px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 435px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 12px;
}

.u-section-2 .u-image-1 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 11px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 435px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 12px;
}

.u-section-2 .u-image-2 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 11px 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 435px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 11px 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 435px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 205px;
  height: 205px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -61px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-2 .u-text-2 {
    margin-left: -7px;
    margin-right: 267px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 212px;
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 359px;
  }

  .u-section-2 .u-image-1 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 359px;
  }

  .u-section-2 .u-image-2 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 359px;
  }

  .u-section-2 .u-image-3 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 359px;
  }

  .u-section-2 .u-image-4 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -41px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 95px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -203px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 200px;
    margin-right: 29px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -222px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -797px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: -137px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -817px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 115px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 1px 0 1px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 114px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 -80px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 147px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 178px 0 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 94px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -61px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 136px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 12px;
    margin-left: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -41px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -222px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: -137px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: -7px;
  }
}.u-section-4 {
  min-height: 647px;
}

.u-section-4 .u-sheet-1 {
  min-height: 809px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 127px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 127px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 -30px 0 44px;
}

.u-section-4 .u-layout-wrap-2 {
  width: 905px;
  margin: 50px auto 60px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 496px;
}

.u-section-4 .u-container-layout-3 {
  padding: 6px 30px 15px;
}

.u-section-4 .u-group-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 411px;
  margin: 27px -29px 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 30px 17px;
}

.u-section-4 .u-image-1 {
  height: 201px;
  width: 201px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px 1px 0;
}

.u-section-4 .u-text-4 {
  line-height: 1;
  font-weight: 300;
  margin: 21px 1px 0;
}

.u-section-4 .u-text-5 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 17px auto 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 496px;
}

.u-section-4 .u-container-layout-5 {
  padding: 6px 30px 15px;
}

.u-section-4 .u-group-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 400px;
  margin: 36px -30px 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 30px 17px;
}

.u-section-4 .u-image-2 {
  height: 190px;
  width: 190px;
  margin: 20px auto 0 1px;
}

.u-section-4 .u-text-6 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 7px 1px 0;
}

.u-section-4 .u-text-7 {
  line-height: 1;
  font-weight: 300;
  margin: 5px 1px 0;
}

.u-section-4 .u-text-8 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 8px auto 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 496px;
}

.u-section-4 .u-container-layout-7 {
  padding: 6px 30px 15px;
}

.u-section-4 .u-group-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 411px;
  margin: 27px -29px 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 30px 17px;
}

.u-section-4 .u-image-3 {
  height: 186px;
  width: 225px;
  margin: 11px -12px 0;
}

.u-section-4 .u-text-9 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px 1px 0;
}

.u-section-4 .u-text-10 {
  line-height: 1;
  font-weight: 300;
  margin: 30px 1px 0;
}

.u-section-4 .u-text-11 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 36px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 247px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 105px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -48px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 105px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 60px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 444px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 2px;
  }

  .u-section-4 .u-group-1 {
    width: 263px;
    min-height: 396px;
    margin-top: 40px;
    margin-right: -30px;
  }

  .u-section-4 .u-image-1 {
    width: 223px;
    height: 163px;
    margin-top: 22px;
    margin-right: -16px;
    margin-left: -8px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: -8px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 15px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 444px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 2px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 9px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 444px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 2px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 36px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -32px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-2 {
    min-height: 390px;
    width: 720px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-group-1 {
    width: 404px;
    min-height: 785px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 363px;
    height: 154px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 260px;
    margin-left: 229px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-group-2 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 120px;
    width: 120px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-group-3 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 99px;
    width: 120px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-top: -144px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 447px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -173px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1000px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 190px;
    margin-left: 159px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: 190px;
    margin-left: 159px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 190px;
    margin-left: 159px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -120px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: -106px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    width: 320px;
    min-height: 411px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 90px;
    margin-left: 59px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 90px;
    margin-left: 59px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 90px;
    margin-left: 59px;
  }
}.u-section-5 {
  min-height: 647px;
}

.u-section-5 .u-sheet-1 {
  min-height: 821px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 127px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 138px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 -30px 0 44px;
}

.u-section-5 .u-layout-wrap-2 {
  width: 905px;
  margin: 50px auto 60px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 501px;
}

.u-section-5 .u-container-layout-3 {
  padding: 6px 30px 15px;
}

.u-section-5 .u-group-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 411px;
  margin: 27px -29px 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 30px 17px;
}

.u-section-5 .u-image-1 {
  height: 201px;
  width: 201px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px 1px 0;
}

.u-section-5 .u-text-4 {
  line-height: 1;
  font-weight: 300;
  margin: 30px 1px 0;
}

.u-section-5 .u-text-5 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 32px auto 0 1px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 501px;
}

.u-section-5 .u-container-layout-5 {
  padding: 6px 30px 15px;
}

.u-section-5 .u-group-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 413px;
  margin: 27px -29px 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 30px 17px;
}

.u-section-5 .u-image-2 {
  height: 190px;
  width: 218px;
  margin: 12px -9px 0;
}

.u-section-5 .u-text-6 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 24px 1px 0;
}

.u-section-5 .u-text-7 {
  line-height: 1;
  font-weight: 300;
  margin: 19px 1px 0;
}

.u-section-5 .u-text-8 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 22px auto 0 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 501px;
}

.u-section-5 .u-container-layout-7 {
  padding: 6px 30px 15px;
}

.u-section-5 .u-group-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 415px;
  margin: 24px -29px 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 0 30px 1px;
}

.u-section-5 .u-image-3 {
  height: 201px;
  margin: 1px auto 0 0;
}

.u-section-5 .u-text-9 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-5 .u-text-10 {
  line-height: 1;
  font-weight: 300;
  margin: 14px 1px 0;
}

.u-section-5 .u-text-11 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 12px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 247px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 105px;
  }

  .u-section-5 .u-text-1 {
    margin-right: -48px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 61px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 446px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 2px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 1px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 33px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 446px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 23px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 446px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 1px;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-10 {
    margin-top: 9px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: 17px;
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: -32px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-group-1 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 120px;
    width: 120px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: -146px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-group-2 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 105px;
    width: 120px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-top: -149px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-group-3 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 447px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-right: -173px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -122px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 18px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    margin-top: 17px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: -106px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 340px;
  }
}.u-section-6 {
  min-height: 647px;
}

.u-section-6 .u-sheet-1 {
  min-height: 825px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 127px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 138px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 -30px 0 44px;
}

.u-section-6 .u-layout-wrap-2 {
  width: 905px;
  margin: 50px 106px 60px auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 496px;
}

.u-section-6 .u-container-layout-3 {
  padding: 6px 30px 15px;
}

.u-section-6 .u-group-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 411px;
  margin: 27px -29px 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 30px 17px;
}

.u-section-6 .u-image-1 {
  height: 201px;
  width: 201px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px 1px 0;
}

.u-section-6 .u-text-4 {
  line-height: 1;
  font-weight: 300;
  margin: 30px 1px 0;
}

.u-section-6 .u-text-5 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 32px auto 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 496px;
}

.u-section-6 .u-container-layout-5 {
  padding: 6px 30px 15px;
}

.u-section-6 .u-group-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 413px;
  margin: 27px -29px 0 auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 30px 17px;
}

.u-section-6 .u-image-2 {
  height: 190px;
  width: 190px;
  margin: 20px auto 0 1px;
}

.u-section-6 .u-text-6 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 1px 0;
}

.u-section-6 .u-text-7 {
  line-height: 1;
  font-weight: 300;
  margin: 21px 1px 0;
}

.u-section-6 .u-text-8 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 501px;
}

.u-section-6 .u-container-layout-7 {
  padding: 6px 30px 15px;
}

.u-section-6 .u-group-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 415px;
  margin: 24px -29px 0 auto;
}

.u-section-6 .u-container-layout-8 {
  padding: 0 30px 1px;
}

.u-section-6 .u-image-3 {
  height: 201px;
  margin: 1px auto 0 0;
}

.u-section-6 .u-text-9 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-6 .u-text-10 {
  line-height: 1;
  font-weight: 300;
  margin: 13px 1px 0;
}

.u-section-6 .u-text-11 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 15px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 247px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 105px;
  }

  .u-section-6 .u-text-1 {
    margin-right: -48px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 41px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 446px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 2px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 446px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 446px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-bottom: 1px;
  }

  .u-section-6 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: -32px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-group-1 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 120px;
    width: 120px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-group-2 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 120px;
    width: 120px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-group-3 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    height: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 447px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: -173px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: -106px;
  }

  .u-section-6 .u-layout-wrap-2 {
    width: 340px;
  }
}.u-section-7 {
  min-height: 247px;
}

.u-section-7 .u-sheet-1 {
  min-height: 1095px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 127px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 138px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 -30px 0 44px;
}

.u-section-7 .u-layout-wrap-2 {
  width: 905px;
  margin: 51px auto 60px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 523px;
}

.u-section-7 .u-container-layout-3 {
  padding: 6px 30px 15px;
}

.u-section-7 .u-group-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 476px;
  margin: 0 -30px 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 30px 14px;
}

.u-section-7 .u-image-1 {
  height: 201px;
  width: 201px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 21px 1px 0;
}

.u-section-7 .u-text-4 {
  line-height: 1;
  font-weight: 300;
  margin: 14px 1px 0;
}

.u-section-7 .u-text-5 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 25px auto 0 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 496px;
}

.u-section-7 .u-container-layout-5 {
  padding: 6px 30px 15px;
}

.u-section-7 .u-group-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 428px;
  margin: 27px -29px 0 auto;
}

.u-section-7 .u-container-layout-6 {
  padding: 0 30px 17px;
}

.u-section-7 .u-image-2 {
  height: 190px;
  width: 226px;
  margin: 19px -12px 0;
}

.u-section-7 .u-text-6 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 1px 0;
}

.u-section-7 .u-text-7 {
  line-height: 1;
  font-weight: 300;
  margin: 15px 1px 0 0;
}

.u-section-7 .u-text-8 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 17px auto 0 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 523px;
}

.u-section-7 .u-container-layout-7 {
  padding: 6px 30px 15px;
}

.u-section-7 .u-group-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.12);
  width: 265px;
  text-shadow: 0 0 0 rgba(0,0,0,0.12);
  min-height: 429px;
  margin: 24px -29px 0 auto;
}

.u-section-7 .u-container-layout-8 {
  padding: 0 30px 1px;
}

.u-section-7 .u-image-3 {
  height: 201px;
  width: 215px;
  margin: 5px -7px 0;
}

.u-section-7 .u-text-9 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 1px 0;
}

.u-section-7 .u-text-10 {
  line-height: 1;
  font-weight: 300;
  margin: 13px 1px 0;
}

.u-section-7 .u-text-11 {
  line-height: 1;
  font-size: 1.125rem;
  margin: 29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 105px;
  }

  .u-section-7 .u-text-1 {
    margin-right: -48px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 0;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-right: -32px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-group-1 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 120px;
    width: 120px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-group-2 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 101px;
    width: 120px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-group-3 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    height: 112px;
    width: 120px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 447px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: -173px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-right: -106px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 340px;
  }
}